body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.operation button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
}

#deposit-section,
#withdraw-section {
    display: none;
    margin: 20px auto;
    width: 300px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button#deposit-submit,
button#withdraw-submit {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
}

#result {
    display: none;
    margin: 20px auto;
    width: 300px;
}